<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <title>WebSocket vs REST</title>
</head>
<body>
  <div class="container" style="padding-top:80px;">
    <h1 class="text-center">Witamy na stronie WebSocket vs REST</h1>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <p> Test 1. Porównanie ilosci zapytań do serwera. Serwer za kazdym zapytaniem zwraca libczę o 1 mniejszą </p>
        <ul>
          <li><a href="/websocket">Websocket</a></li>
          <li><a href="/rest">Rest</a></li>
        </ul>
      </div>
      <div class="col-sm-6">
      <p> Test 2. Porównanie pobrania ilosci danych z serwera. Serwer generuje zmienną z podaną iloscią znaków </p>
        <ul>
          <li><a href="/websocket"><a href="/websocketSizeData">Websocket Size Data</a></a></li>
          <li><a href="/rest"><a href="/restSizeData">RestSize Data</a></a></li>
        </ul>
      </div>
    </div>  
  </div>
</body>
</html>

 