<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h1>Rest get data size</h1>
    <div class="form-group">
      <label for="socketAddress">Adres serwera Rest</label>
      <input type="text" class="form-control" id="socketAddress">
    </div>
    <div class="form-group">
      <label for="numberRequests">Ilość danych (w KB) które ma pobrac REST</label>
      <input type="text" class="form-control" id="numberRequests" value="1">
    </div>
    <button id="startBtn" type="button" class="btn btn-primary">Start</button>
    <br>
    <br>
    <div id="result" style="word-wrap: break-word;"></div>
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script>
var socketAddress = window.location.host + '/api/getSizeData'
var result = document.getElementById('result');
var testTime = document.getElementById('testTime');
var startTestTime, stopTestTime;
document.getElementById('socketAddress').value = socketAddress
document.getElementById("startBtn").addEventListener("click", function(){
  numberRequestTest();
});

function getSocketAddress() {
  return document.getElementById('socketAddress').value;
}
function getNumberRequests() {
  return document.getElementById('numberRequests').value;
}

function numberRequestTest() {
  result.innerHTML = '';
  var length = getNumberRequests();
  axios.post('/api/getSizeData', {size: length*1000})
    .then(function (response) {
      result.innerHTML = 'Gotowe';
      console.log(response.data.value)
    })
    .catch(function (error) {
      console.log(error);
    })
}
</script>
</body>
</html>

