<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h1>Rest</h1>
    <div class="form-group">
      <label for="restAddress">Adres REST</label>
      <input type="text" class="form-control" id="restAddress">
    </div>
    <div class="form-group">
      <label for="numberRequests">Ilość zapytań do serwera przez REST</label>
      <input type="text" class="form-control" id="numberRequests" value="1">
    </div>
    <button id="startBtn" type="button" class="btn btn-primary">Start</button>
    <button id="resetCounterBtn" type="button" class="btn btn-primary">Reset counter</button>
    <br>
    <br>
    <div id="result"></div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
  <script> 
    var apiAddress = 'http://' + window.location.host + '/api/get'
    var result = document.getElementById('result');
    document.getElementById('restAddress').value = apiAddress
    document.getElementById("startBtn").addEventListener("click", function () {
      numberRequestTest();
    });

    document.getElementById("resetCounterBtn").addEventListener("click", function () {
      axios.put('/api/resetCounter')
        .then(function (response) {
          console.log(response.data);
        })
        .catch(function (error) {
          console.log(error);
        })
    })

    function getSocketAddress() {
      return document.getElementById('socketAddress').value;
    }
    function getNumberRequests() {
      return document.getElementById('numberRequests').value;
    }

    function numberRequestTest() {
      result.innerHTML = '';
      var length = getNumberRequests();
      for (var i = 0; i < length; i++) {
        axios.get('/api/get')
        .then(function (response) {
          result.innerHTML += response.data + ', ';
        })
        .catch(function (error) {
          console.log(error);
        })
      }
    }
  </script>
</body>
</html>