<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h1>Websockets</h1>
    <div class="form-group">
      <label for="socketAddress">Adres serwera Socket.IO</label>
      <input type="text" class="form-control" id="socketAddress">
    </div>
    <div class="form-group">
      <label for="numberRequests">Ilość zapytań do serwera Socket.IO</label>
      <input type="text" class="form-control" id="numberRequests" value="1">
    </div>
    <button id="startBtn" type="button" class="btn btn-primary">Start</button>
    <button id="resetCounterBtn" type="button" class="btn btn-primary">Reset counter</button>
    <br>
    <br>
    <div id="result"></div>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script>
var socketAddress = window.location.host;
var result = document.getElementById('result');
document.getElementById('socketAddress').value = socketAddress;
document.getElementById("startBtn").addEventListener("click", function(){
  numberRequestTest();
});
document.getElementById("resetCounterBtn").addEventListener("click", function () {
var socket = io.connect(getSocketAddress());
  socket.emit('endTest');
})
  
function getSocketAddress() {
  return document.getElementById('socketAddress').value;
}
function getNumberRequests() {
  return document.getElementById('numberRequests').value;
}

function numberRequestTest() {
  result.innerHTML = '';
  var socket = io.connect(getSocketAddress());
  var length = getNumberRequests();
  for(var i = 0; i < length; i++) {
    socket.emit('getCounter', function(error, counter) {
      result.innerHTML += counter + ', ';
    });
  }
}
</script>
</body>
</html>

